<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accelmonitor</title>
    <script src="https://unpkg.com/alpinejs" defer></script>
    <script src="/static/datefns.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8" defer></script>
    
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" preload>
</head>
<body>
    
    <div class="video-list-container" x-data="{ open: true }" style="margin:auto; width: 100%; min-height: 200px;">
        <div class="video-list-header" style="justify-content: center; gap: 15px;">
            <h3>Videos</h3>
            <button @click="open = !open" x-text="open ? 'Hide ' : 'Show'"></button>
        </div>
        <div class="video-list-body" style="min-height: 150px;">
        <ul id="videos" class="video-list" x-show="open" x-transition>
            <li>Loading...</li>
        </ul>
        </div>
    </div>

    <div class="video-container" style="width:100%;">
        <video id="videoPlayer" controls preload="metadata" style="display: none;"></video>
    </div>
    <div class="plot-container" style="display: flex; justify-content: center; align-items: center; width: 100%;">
        <div id="acc-plot"></div>
    </div>
    
    
    <div class="form-container">
        <h2>Upload Video</h2>
        <form id="uploadForm" enctype="multipart/form-data" action="/api/videos" method="post">
            <label for="video">Video</label>
            <input type="file" id="video" accept="video/*" name="video" required>
            <label for="name">Title</label>
            <input type="text" id="name" name="name" placeholder="Title">
            <label for="start_timestamp">Start Datetime (YYYY-MM-DD HH:MM:SS)</label>
            <input type="text" id="start_timestamp" name="start_timestamp" placeholder="YYYY-MM-DD HH:MM:SS">

            <label for="video_duration">Duration</label>
            <input type="text" id="video_duration" name="video_duration" placeholder="Duration">
            <button type="submit">Upload</button>
        </form>
    </div>
    <div class="form-container">
        <h2>Export to CSV</h2>
        <form id="csvForm" action="/api/tags/csv" method="get">
            <label for="start">Start Date (YYYY-MM-DD HH:MM:SS)</label>
            <input type="text" id="start" name="start" placeholder="YYYY-MM-DD HH:MM:SS">
            <label for="end">End Date (YYYY-MM-DD HH:MM:SS)</label>
            <input type="text" id="end" name="end" placeholder="YYYY-MM-DD HH:MM:SS">
            <a id="csvDownloadButton" href="#" download><span>Download</span></a>
        </form>
    </div>


        
    <script> // Video logic
        const videoList = {{ VideoList | tojson }};
    </script>

    <script src="/static/videos.js" preload></script>
    <script src="/static/tags.js" preload></script>
</body>
</html>
